 * {

  box-sizing: border box;
  margin:0;
  padding:0;

 }


 .header {
  background-repeat: no-repeat;
  height: 350px;
  width:1000px;

}

.baby-step-list {
  list-style-type: none;
  margin-top: 60px;

}

.baby-step-one,
.baby-step-two,
.baby-step-three,
.baby-step-four,
.baby-step-five,
.baby-step-six,
.baby-step-seven {
  background-color: #9ba0a4;
  border-color: white;
  border-style: solid ;
  border-width: thin;
  font-family: Source Sans Pro, Regular, 18px;
  font-weight: light;
  height: 70px;
  line-height:60px;
  padding-top: 3px;
  width: 300px;
}

.baby-step-one {
   background-image: url('./../../../app/assets/images/icons/icons_small_bs1.png');
  width: 300px;
  height:75px;
}

.steps {
 /* display:none;*/
}

h2 {
     color:#ebeced;
     font-size: 30px;
     font-weight: 600;
  }
  span { 
          color:grey;
          font-size: 18px;

  }



.side-image {
  background-image: url('assets/images/icons/sprites/icons_small.png')
  height: 22px;
  margin-right:24px;
  width:25px;
}

h2 {
  font-family: Source Sans Pro, semi bold;
  font-weight: semi-bold;
  font-size: 30px;
  color:#36abe1;
  line-height: 20px
}


    span {
          font-family:Source Sans Pro;
          font-weight: lighter;
          font: 18px;
          color: #5c6366;
          line-height:20px;
          margin-right:70px;
          }

        p {
        font-family: Helvetica;
        font-size: 13px;
        font-weight: normal;
        color: #65686f;
        line-height: 18px;
        margin-top: 24px;

        }

.links {
  color: #6fbee7;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: normal;
  text-decoration:none;
}

.link-sentence {
  color: #65686;
  font-family: Helvetica;
  font-size: 13px;
}


